.content {
  background: #fffffc;
  min-height: calc(100vh - 48px);
  padding: 30px 60px;
  @media screen and (max-width: 767px) {
    padding: 20px 30px;
  }
}

.block {
  margin-bottom: 20px;
}

.switcher {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}