.pages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.page {
  background: lightyellow;
  text-align: center;
  padding: 10px;
  min-width: 70px;
  border: 1px solid #cccccc;

  // color: bisque;
  &:hover {
    cursor: pointer;
  }
}