.comments {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
 // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sorting {
  background: #eaeaea;
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}